
{% for produit in produits %}
 
 <section>
  
  <ul>
    <li> {{ produit.nom }}</li>
	<li> {{ produit.description }}</li>
	<li> {{ produit.disponible }}</li>
	<li> {{ produit.categorie }}</li>
	<li> {{ produit.prix }}</li>
	<li> {{ produit.tva }}</li>
	<li> {{ produit.image }}</li>
   
   
  </ul>
  
  
 </section>
 
 {% endfor%}